$radius: 4px;

.flexCenterCloumn {
  gap: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background: #000;
  position: relative;
  align-items: center;
  justify-content: center;

  section {
    gap: 1px;
    width: 100%;
    height: 100%;
    padding: 1px;
    display: grid;
    position: absolute;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: absolute;
      animation: animate 5s linear infinite;
      background: var(--login-gradient);
    }

    span {
      z-index: 2;
      transition: 1.5s;
      background: #181818;
      border: 2px solid transparent;

      &:hover {
        background: var(--login-color);
        transition: 0s;
      }
    }
  }

  .loginContainer {
    top: 50%;
    left: 50%;
    z-index: 10;
    color: #fff;
    display: grid;
    position: absolute;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    transform: translate(-50%, -50%);
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba($color: #000, $alpha: 0.4);

    .leftSection {
      min-height: 60vh;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: contain;
      }
    }

    .rightSection {
      padding: 40px;
      @extend .flexCenterCloumn;

      h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--login-color);
      }

      .dontHaveAccount {
        gap: 10px;
        display: flex;
        font-size: 0.9rem;
        margin-top: -0.5rem;
        margin-bottom: 0.2rem;

        span {
          cursor: pointer;

          &:last-child {
            font-weight: 500;
            color: var(--login-color);
          }
        }
      }

      form {
        @extend .flexCenterCloumn;

        label {
          color: var(--login-color);
          transition: all 0.3s;
        }

        input {
          min-width: 300px;
          background: none;
          transition: all 0.3s;
          border-radius: $radius;
          color: var(--login-color);
          padding: 12px var(--spacing-1);
          border: 1px solid var(--login-color);

          &:focus-visible {
            outline: none;
          }

          &::placeholder {
            color: var(--login-color);
          }
        }

        button {
          font-weight: 500;
          background: none;
          font-size: 1rem;
          border-radius: $radius;
          color: var(--login-color);
          padding: 12px var(--spacing-1);
          transition: background-color 0.3s;
          border: 1px solid var(--login-color);

          &:hover {
            color: #fff;
            background-color: var(--login-color);
          }
        }
      }
    }
  }
}

.socialContainer {
  .divider {
    width: 100%;
    text-align: center;
    margin: 0 0 1.5rem 0;
  }
  .socialWrapper {
    gap: 2rem;
    display: flex;
    justify-content: center;

    svg {
      font-size: 1.5rem;
      transition: all 0.2s;

      &:hover {
        scale: 1.2;
        cursor: pointer;
        fill: var(--login-color);
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
