@import "@/styles/theme.scss";

// gaurav 
@import  "@/styles/gaurav/home.scss";
@import  "@/styles/gaurav/search.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// a,
// button {
//   cursor: pointer;
//   color: var(--navColor);
// }

// input:-internal-autofill-selected {
//   background: none !important;
// }
