

.layout {
  padding-left: calc(46px + var(--spacing-1) + var(--spacing-1));

  .list {
    top: 0;
    left: 0;
    gap: var(--spacing-1);
    padding: var(--spacing-1);
    height: 100vh;
    display: flex;
    position: fixed;
    list-style-type: none;
    flex-direction: column;
    border-right: var(--border-1);
    background-color: var(--BA_BA);

    & > .item {
      cursor: pointer;
      padding: 10px;
      border-radius: 8px;

      svg {
        font-size: 1.6rem;
        color: var(--text-1);
      }

      &.active {
        background-color: rgba(207, 213, 215, 0.3);
      }

      &:last-child {
        margin-top: auto;
      }

      &.hideCursor {
        cursor: default;
      }
    }
  }
}
