$gap: 1rem;
$BG: #f0f2f5;
$padding: 15px 25px;
$plcaeholderColor: #6b7c85;

.flex-ai-center-js-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatarBox {
  width: 40px;
  height: 40px;
  display: grid;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
  place-items: center;

  :not(img) {
    border: 1px solid var(--BA_TEXT_COLOR);
  }

  svg {
    font-size: 1.4rem;
    color: var(--BA_TEXT_COLOR);
  }
}

.svg {
  svg {
    cursor: pointer;
    font-size: 1.4rem;
    color: var(--BA_TEXT_COLOR);
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;

  & > div {
    height: 100vh;
    overflow: auto;

    &:first-child {
      border-right: var(--BA_BORDER);
    }
  }

  .chats {
    .header {
      display: flex;
      padding: $gap;
      padding-bottom: 0;
      justify-content: space-between;
      .title {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--BA_TEXT_COLOR);
      }
      .newChatAndSort {
        gap: 1rem;
        display: flex;
        color: $plcaeholderColor;
        svg {
          font-size: 1.5rem;

          &:hover {
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
    }

    .filter {
      top: 0;
      gap: 15px;
      z-index: 1;
      display: grid;
      padding: $gap;
      position: sticky;
      align-items: center;
      background-color: #fff;
      border-left: var(--BA_BORDER);
      border-bottom: var(--BA_BORDER);

      .searchBox {
        position: relative;

        input {
          border: 0;
          width: 100%;
          border-radius: 10px;
          background-color: #f0f2f5;
          padding: 12px 20px 12px 40px;

          &::placeholder {
            color: $plcaeholderColor;
          }

          &:focus-visible {
            outline: none;
          }
        }

        svg {
          top: 50%;
          left: 10px;
          font-size: 1.3rem;
          position: absolute;
          color: $plcaeholderColor;
          transform: translateY(-50%);
        }
      }

      & > svg {
        font-size: 1.3rem;
      }
    }

    ul {
      margin: 0;
      overflow-y: auto;
      padding: 10px 20px;

      li {
        cursor: pointer;
        list-style-type: none;
        color: var(--BA_TEXT_COLOR);

        &:last-child {
          border: 0;
          padding: 0;
          margin-bottom: 0;
        }
      }
    }
  }

  .selectedChat {
    position: relative;
    // background-size: cover;
    // background-color: #efeae2;
    background-image: url("/assets/bg/chatBg.png");

    .selectedChatHeader {
      padding: $padding;
      background-color: $BG;
      @extend .flex-ai-center-js-sb;

      .userInfo {
        @extend .flex-ai-center-js-sb;

        .avatar {
          @extend .avatarBox;
        }

        .name {
          color: var(--navColor);
          font-weight: 500;
        }
      }

      .actions {
        @extend .flex-ai-center-js-sb;
        @extend .svg;
        gap: 1.5rem;
      }
    }

    ul {
      margin: 0;
      padding: 1rem 2rem;
      list-style-type: none;

      li {
        .box {
          padding: 1rem;
          border-radius: 8px;
          margin-bottom: 1rem;
          background-color: #fff;
          width: max-content;
        }

        &.right {
          .box {
            margin-left: auto;
          }
        }
      }
    }

    .messgaeBox {
      gap: 1.5rem;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      padding: $padding;
      position: absolute;
      background-color: $BG;
      @extend .svg;

      form {
        gap: 1.5rem;
        display: flex;
        flex-grow: 1;
        align-items: center;

        .input {
          gap: 1rem;
          flex-grow: 1;
          display: flex;
          padding: 0px 15px;
          align-items: center;
          border-radius: 10px;
          background-color: #fff;

          input {
            border: 0;
            width: 100%;
            padding: 15px;
            font-size: 1rem;
            padding-left: 0;
            background: none;

            &:focus-visible {
              outline: none;
            }

            &::placeholder {
              color: #6b7c85;
            }
          }
        }
      }
    }
  }
  .bg {
    display: grid;
    place-items: center;
    background-color: var(--BA_GHOST_GREEN);
    img {
      // height: 400px;
      width: 300px;
      object-fit: contain;
    }
  }
}

.card {
  gap: 10px;
  display: grid;
  place-items: center;
  margin-bottom: 13px;
  padding-bottom: 13px;
  color: var(--navColor);
  grid-template-columns: 35px 1fr;
  border-bottom: 1px solid #e9edef;

  .avatar {
    @extend .avatarBox;
  }

  .box {
    width: 100%;
    .nameAndTime,
    .lowerRow {
      @extend .flex-ai-center-js-sb;
    }
    .nameAndTime {
      margin-bottom: 6px;
      .name {
        font-weight: 500;
      }
      .time {
        font-size: 0.8rem;
        font-weight: 500;
        opacity: 0.6;
      }
    }
    .lowerRow {
      gap: 8px;

      .message {
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;

        span {
          display: inline-block;
          margin-right: 10px;
        }
      }

      .count {
        color: #fff;
        font-size: 14px;
        padding: 3px 5px;
        border-radius: 10px;
        background-color: var(--BA_GREEN);
      }
    }
  }
}
